@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); /* Used in the '.email' class */

.hide-desktop {
  display: none;
}

body {
  width: 90%;
  /* background-color: cyan; */
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none; /* Eliminates the bullet points inside ul */
  display: grid;
  grid-template-columns: 214px 213px 213px 213px 213px 214px; /* Automatically creates 1 row with 7 columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66% */
  position: relative;
  right: 40px;
  margin-bottom: 0;
  margin-top: -1em;
  background-color: white;
  position: fixed;
  z-index: 1;
}

li {
  background-color: white;
  position: relative;
  left: 40px;
  border-right: 1px solid black;
  text-align: center;
  height: 40px;
  padding: 20px 50px 0px 50px;
  transition: background-color 0.5s;
}

li:hover {
  background-color: #c83727;
}

/* CONTAINER TO EXTEND BORDER OF THE ANCHOR LINKS IN TOP MENU */
.home {
  padding: 20px 85px 23px 81px;
  position: relative; /* Why does 'margin-top/bottom/left/right' not work here. WHY?!!! */
  bottom: 1px;
  right: 49px;
}

.reservation {
  padding: 20px 53px 23px 55px;
  position: relative;
  right: 50px;
  bottom: 1px;
}

.top-menu {
  padding: 22px 85px 23px 80px;
  position: relative;
  bottom: 1px;
  right: 49px;
}

.wines {
  padding: 20px 82px 23px 80px;
  position: relative;
  right: 49px;
  bottom: 1px;
}

.about-us {
  padding: 22px 70px 23px 65px;
  position: relative;
  bottom: 1px;
  right: 49px;
}

.us {
  margin-left: 4px;
}

.contact {
  padding: 20px 71px 23px 68px;
  position: relative;
  right: 49px;
  bottom: 1px;
}
/* END CONTAINER TO EXTEND BORDER OF THE ANCHOR LINKES IN TOP MENU */

li a:hover {
  /* Changes the colour of the text in the top menu to white when mouse is hovered over it */
  color: white;
}

.image-1 {
  position: relative;
  left: 430px;
  margin-top: 100px;
  width: 332px;
  height: 332px;
}

figcaption {
  color: #2b0d04;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 72%;
  position: relative;
  left: 210px;
  margin-top: 15px;
}

p {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 78%;
  position: relative;
  left: 170px;
}

/* Following a striking redesign, Bar Gansa proudly welcomes Nacho Rivera as its new Head Chef... */
.paragraph-1 {
  margin-top: 80px;
}

/* Class for Pic 1 and Pic 2 */
.about_us_pic {
  position: relative;
  left: 128px;
  width: 450px;
  height: 280px;
}

/*-----Footer-----*/
footer {
  position: relative;
  top: 200px;
  left: 50px;
}

/* Container for the <input> field */
.email {
  border: 0;
  border-bottom: 1px solid black;
  width: 23.9%;
  height: 25px;
  font-size: 16px;
  font-weight: 100;
  padding: 11px 0 10px 0px;
  position: relative;
  top: -128px; /*111px*/ /* Why is 'bottom: ;' not working for this element? WHY?!! */
  left: 10px; /*30px*/
  background-image: url(Images/Email-icon.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px 20px;
}

/* The 'email' box was misaligned in Firefox, this element exclusively styles the 'email' box in Firefox. */
@supports (-moz-appearance: none) {
  .email {
    position: relative;
    bottom: 110.5px;
  }
}

::placeholder {
  /* Styles the placeholder in ONLY Chrome */
  font-size: 16px; /* Why does this element effect in both browsers. WHY?!!!! */
  position: relative; /* This only effects the placeholder in Chrome */
  top: 0.08em;
  font-family: "Montserrat";
}

:placeholder-shown {
  /* styles the placeholder in both Firefox and Chrome */
  padding-left: 3em;
  padding-bottom: 0.66em;
}

.subscribe-now {
  position: relative;
  left: 31.1em;
  bottom: 7.6em;
  font-size: 16px;
  border: 1px solid black;
  padding: 9px 25px 7px 25px;
}

/* (c) 2018 Bar Gansa */
.register-mark {
  position: relative;
  font-size: 14px;
  bottom: 14.6em;
  left: 48.6em;
  width: 18%;
}

.facebook {
  padding-right: 10px;
}

.facebook-snapchat {
  width: 39px;
  height: 41px;
}

.social-media-container {
  width: 8%;
  position: relative;
  bottom: 13.4em;
  left: 43.98em;
}

/* Allow for smooth scrolling for all the elements that have an relative link */
* {
  scroll-behavior: smooth;
}

/*----- IPHONE X RESOLUTION-----*/
@media only screen and (max-width: 375px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: initial;
  }

  /* The three lines icon for the main menu */
  .ham {
    background-color: #ffffff;
    position: fixed;
    margin-left: 50.5em;
    margin-top: 2.5em;
    height: 4.5em;
    display: initial;
    cursor: pointer;
    z-index: 8;
  }

  /* The white strip behind the 'ham' image */
  .ham-background {
    background-color: #ffffff;
    position: fixed;
    z-index: 8;
    height: 9em;
    width: 60.5em;
    margin-left: -0.45em;
    margin-top: -1em;
  }

  /* The 'x' button to close the menu */
  .exit-btn {
    font-size: 60px;
    font-family: "Hachi Maru Pop";
    cursor: pointer;
    margin-left: 13.5em;
    margin-top: 0.1em;
    z-index: 9;
    position: fixed;
    border: 2px solid black;
    padding: 0 0.65em 0.25em 0.65em;
  }

  li,
  li:hover {
    all: revert; /* reverts all the properties set in the inital 'li' tag to default. */
  }

  nav ul {
    background-color: #dc3727;
    height: 100%;
    width: 80%;
    padding-top: 23.25em;
    margin-right: -2.5em;
    margin-top: -8em; /* Adjusts the position of the whole menu */
    z-index: 8;
  }

  li a {
    font-family: "Montserrat";
    color: white;
    font-size: 48.2px;
    text-decoration: none;
    display: block;
    /* width: 60%; */
    /* padding: 3em 1em 1em 2em; */
    /* Determines the padding between each anchor element */
    /* margin-left: 0.7em; Positions the anchor text slightly towards the right. */
    /* When using 'margin-top' or 'margin-bottom' the anchor texts do not move. Only the space between the elements. WHY?!! */
    /* margin-top: 0.5em; */
    /* margin-top: 1.2em; */ /* Determines the space BETWEEN the anchor elements */
    /* outline: 2px solid white; */
  }

  .home,
  .reservation,
  .top-menu,
  .wines,
  .contact {
    margin: 0.3em 0 0 2.99em;
    padding: 0 0 1.98em 0;
  }

  /* This allows me to move the anchor text downwards as it was not happening in the 'nav ul li a' text. */
  /* .home {
    margin-left: 2.2em;
    padding: 0;
    padding-bottom: 2.1em;
  }

  .reservation {
    margin-left: -1.15em;
    padding-bottom: 1.5em;
  }

  .wines {
    margin-left: -2.52em;
  }

  .menu {
    margin-left: 2.15em;
    padding: 2em 0;
  }

  .contact {
    margin-left: 2.2em;
    padding: 0;
  } */

  .image-1 {
    width: 40em;
    height: 40em;
    margin-left: -19em;
    margin-top: 10em;
  }

  figcaption {
    font-size: 40px;
    width: 20em;
    margin-left: -4.2em;
  }

  /* Following a striking redesign, Bar Gansa proudly welcomes Nacho Rivera as its new Head Chef... */
  .paragraph-1 {
    width: 22em;
    font-size: 40px;
    margin-left: -4.15em;
  }

  p {
    width: 22em;
    font-size: 40px;
    margin-left: -4.15em;
    padding: 0 1em;
  }

  .about_us_pic {
    width: 26em;
    height: 18em;
    /* position: relative;
    right: 500em; */ /* For Media Queries 'position: relative;' does not seem to be working. I have to use 'margin-left/right: ;' to change the position of elements. */
    margin-left: 13em;
  }

  /* Grid for 'pic_1' and 'pic_2' */
  .fig-grid {
    display: grid;
    grid-template-columns: 28em 28em;
    grid-template-rows: 20em;
    justify-content: center;
  }

  /*-----FOOTER-----*/
  footer {
    background-color: #ffffff;
    width: 60.8em;
    height: 62em;
    margin-left: -3.7em;
  }

  .email {
    font-size: 40px;
    width: 16.1em;
    height: 2em;
    border-bottom-width: 3px;
    position: relative;
    left: 18.3em;
    top: 3.75em;
    background-size: 1.4em 1.4em;
    background-position: left center;
    padding: 0.2em 0em 0em 2.75em;
  }

  ::placeholder {
    font-size: 47px;
  }

  :placeholder-shown {
    padding-bottom: 0.2em; /* Adds padding to the 'Email Address' text. */
  }

  .subscribe-now {
    position: relative;
    top: 7.2em;
    margin-left: -28.8em;
    font-size: 48px;
    padding: 0.53em 4.7em;
    border-width: 4px;
  }

  /* (c) 2018 Bar Gansa */
  .register-mark {
    font-size: 42px;
    width: 10em;
    position: relative;
    left: 9.75em;
    top: 13em;
  }

  .social-media-container {
    position: relative;
    top: 33.85em;
    left: 23.8em;
    width: 18em;
    padding-bottom: 3em;
  }

  .facebook {
    position: relative;
    right: 1.35em;
  }

  .facebook-snapchat {
    width: 110px;
    height: 110px;
  }
}
/* END IPHONE X RESOLUTION */

/*----------IPAD RESOLUTION(768 x 1024)---------------*/
@media only screen and (max-width: 768px) and (min-width: 376px) {
  body {
    width: 124.5%;
  }

  ul {
    /* grid-template-columns: 172px 190px 173px 173px 175px 275px; */
    grid-template-columns: 170px 167px 168px 171px 170px 170px;
    padding-top: 0.4em;
    margin: -1.4em -0.1em -5em 0em; /*The 'margin-bottom' is to pull the container under the top menu higher up */
    position: fixed;
  }

  li a {
    font-size: 16.2px;
  }

  /*Cancels out the transition for the background to turn reddish when hovered over. Need to learn how to cancel a transition*/
  li a:hover {
    color: black;
  }

  /*Cancels out the transition for the background to turn reddish when hovered over. Need to learn how to cancel a transition*/
  li:hover {
    background-color: white;
  }

  /*Styles the positioning of the elements in the menu at the very top*/
  .top-menu,
  .wines,
  .about-us,
  .contact {
    position: relative;
    top: -0.05em;
    right: 3.1em;
  }

  /*CONTAINER TO SET <a> BORDER */
  .home {
    padding: 1.3em 3.7em 1.4em 3.3em;
    position: relative;
    top: -0.05em;
    right: 2.6em;
  }

  .reservation {
    padding: 1.3em 1.9em 1.4em 1.8em;
  }

  .top-menu {
    padding: 1.25em 3.7em 1.38em 3.65em;
  }

  .wines {
    padding: 1.25em 3.75em 1.38em 3.6em;
  }

  .about-us {
    padding: 1.25em 2.75em 1.38em 2.7em;
  }

  .contact {
    padding: 1.3em 2.9em 1.35em 2.8em;
  }
  /* END CONTAINER TO SET <a> BORDER */

  .image-1 {
    margin-left: -8em;
  }

  /* With a wide range of experience behind him, Chef Nacho Rivera brings his expert techniques and Spanish flair to the newly refurbished
    Tapas hotspot. */
  figcaption {
    width: 36em;
    margin-left: -7em;
  }

  p {
    width: 43em;
    margin-left: -7em;
  }

  .about_us_pic {
    width: 31em;
    margin-left: -10em;
  }

  .about-us-pic-2 {
    width: 30em;
    margin-left: -13em;
  }

  /* GRID FOR 'about-us-pic' */
  .fig-grid {
    display: grid;
    grid-template-columns: 35em 35em;
  }

  /*---------------FOOTER---------------*/
  /*NOTE: When using 'margin-top' or 'margin-bottom' for the classes .subscribe-now, .register-mark or .social-media-container, the page height would 
  increase if they were moved down. But when using 'position: relative' and moving the elements downwards, the page height does not increase. WHY?!!!*/
  footer {
    width: 63.35em;
    height: 18em;
    margin-top: -11em;
    margin-left: -4em;
    /* background-color: cyan; */
  }

  .email {
    display: block;
    border-bottom-width: 1.5px;
    width: 13.95em;
    position: relative;
    left: 4.6em;
    top: 1.8em; /*-4.72em*/
    font-size: 20px;
    padding-bottom: 0.55em;
    background-size: 1.1em 1.1em;
  }

  @supports (-moz-appearance: none) {
    .email {
      margin-top: 0em; /*-1.64em*/
    }
  }

  ::placeholder {
    font-size: 17px;
    font-weight: 600;
  }

  .subscribe-now {
    padding: 0.75em 1.1em 0.5em 1.2em;
    position: relative;
    top: 4.45em;
    left: 26em;
    font-weight: bold;
    font-size: 17px;
  }

  .social-media-container {
    width: 6.5em;
    position: relative;
    bottom: 3.4em;
    left: 41.52em;
  }

  .facebook-snapchat {
    width: 2.5em;
    height: 2.5em;
  }

  .facebook {
    padding-right: 0.5em;
  }

  /* © 2018 by Bar Gansa */
  .register-mark {
    font-size: 15px;
    position: relative;
    bottom: 3em;
    left: 49.5em;
  }
  /*-----END FOOTER-----*/
}
