@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap"); /*used in '.book-now'*/
@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap"); /*Used in '.form-title'*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap"); /* Font: Commissioner - for '.container-3-heading */
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap"); /* Used as a font for the 'exit-button' class in the mobile version */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); /* Used in the '.email' class */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap"); /* Used in '.register-mark' */

/* 1293 x 990 */
body {
  margin: 0;
}

/* Allow for smooth scrolling for all the elements */
* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

/*---Top Menu---*/

/* Hides the 'ham' picture for the dropdown menu */
.hide-desktop {
  display: none;
}

/*Menu at the very top*/
ul {
  list-style-type: none; /* Eliminates the bullet points inside ul */
  display: grid;
  grid-template-columns: 214px 213px 213px 213px 213px 214px; /* Automatically creates 1 row with 7 columns */
  position: relative;
  right: 40px;
  margin-top: 0;
  background-color: white;
  position: fixed;
  z-index: 1;
}

/*Idividual elements of the menu*/
li {
  background-color: white; /* Fills the background of the 'Contact' tab */
  position: relative;
  left: 40px;
  border-right: 1px solid black;
  text-align: center;
  height: 40px;
  padding: 19px 50px 0 50px;
  transition: background-color 0.5s;
}

li:hover {
  background-color: #c83727;
}

/* CONTAINER TO EXTEND BORDER OF TEXT IN MENU */
.home {
  padding: 21px 85px 22px 82px;
  position: relative;
  right: 50px;
}

.reservation {
  padding: 21px 52px 22px 55px;
  margin-left: -50px;
}

.menu {
  padding: 21px 85px 22px 82px;
  margin-left: -3.2em;
}

.wines {
  padding: 21px 85px 22px 82px;
  margin-left: -3.2em;
}

.us {
  margin-left: 4.2px;
}

.about-us-top-menu {
  margin-left: -3.2em;
  padding: 21px 67px 22px 67px;
}

.contact-li {
  padding: 21px 70px 22px 70px;
  margin-left: -3.2em;
  border-right: none;
}
/* END CONTAINER TO EXTEND BORDER OF TEXT IN MENU */

/* Changes the colour of the text in the top menu to white when mouse is hovered over it */
nav ul li a:hover {
  color: white;
}

/*---SECTION FOR HTML STOCK PHOTO---*/
/* Main image of the page */
.top-image {
  opacity: 0.7;
  margin-top: -21px;
  width: 100%;
  height: 100%;
}

.photo-text {
  /*NOTE: When creating a white border for this element, the border of the main photo (.a) was being skewed*/
  border: 3px solid #ffffff;
  width: 60%;
  height: 75%;
  text-align: center;
  position: relative;
  left: 17em;
  bottom: 31em;
  transition: all 0.4s ease 0s; /*Transitions the property of the border and its child content.*/
}

/* Increases size of the border and all the text within it by a scale of 1.1 */
.photo-text:hover {
  transform: scale(1.1);
}

/* Adjusts the height of the white border of the HTML Stock photo */
.border-text {
  height: 548px;
  position: relative;
  top: 5em;
}

/* Bar Gansa image with the duck located inside the white borders of the main image. */
.bar-gansa-photo {
  width: 514px;
  height: 150px;
  position: relative;
  top: 20px;
  left: 90px;
}

/* Tapas made with love, served with passion */
.photo-p1 {
  text-align: center;
  width: 50%;
  position: absolute;
  bottom: 180px;
  right: 200px;
  font-weight: bold;
  font-size: 20px;
}

/* Changes the word 'love'*/
.love {
  color: #c83727;
  font-family: Arial, Helvetica, sans-serif;
}

/* container for the word 'passion'*/
.passion {
  color: #c83727;
  font-family: Arial, Helvetica, sans-serif;
}

.book-now {
  text-decoration: none;
  font-family: "Sansita Swashed";
  background-color: #c83727;
  color: white;
  padding: 10px 38px;
  position: relative;
  top: 200px;
  right: 270px;
}

/*---------------Form---------------*/
form {
  width: 66%;
  height: 125px;
  background-color: #c83727;
  padding-bottom: 38px;
  position: relative;
  left: 235px;
  top: 23px;
  font-size: 0; /* Removes the white-spaces between the boxes */
}

/* Make a reservation */
.form-title {
  font-size: 18px; /* The 'font-size' in '.form' made the form title non-existant */
  font-weight: bold;
  color: white;
  font-family: "Jaldi";
  padding-left: 15px;
  z-index: 5;
  position: relative;
  top: 15px;
}

/* Property for all the 3 boxes */
.dropbox {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 15px;
  top: 5px;
  width: 190px;
  height: 50px;
}

/* Dropbox for booking the number of people */
.person {
  padding-left: 10px;
  border: 1px solid white;
  border-right: 1px solid grey;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Dropbox for the calender to book a date */
.calender {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border: 1px solid white;
  border-right: 1px solid grey;
  height: 48px;
  position: relative;
  bottom: 18px;
}

/* Dropbox for booking a time */
.time {
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid white;
}

.find-a-table {
  font-size: 20px;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-left: none;
  padding: 12.5px 60px;
  position: relative;
  left: 14px;
  top: 6px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/*---END OF FORM---*/

/*-----Covid-19 Instruction-----*/
.container-3 {
  background-color: #e03c2a;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 10px;
  margin-top: 190px;
  width: 100%;
}

/* 'Covid-19 Notice' and 'Safety is our Priority' headings */
.container-3-heading {
  width: 30%;
  text-align: center;
  font-family: Commissioner;
  position: relative;
  left: 450px;
}

/* Covid 19 Notice */
.covid-notice {
  padding-top: 20px;
  margin-bottom: 0;
}

/* Safety is our priority */
.safety {
  margin-top: 0;
  margin-bottom: 25px;
}

hr {
  background-color: white;
  width: 42px;
  height: 2px;
}

/* The Covid-19 1-10 paragraphs */
.container-3-p {
  width: 78%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 10em;
}
/*-----END OF COVID 19 INSTRUCTION-----*/

/*-----Grid Classes-----*/

/* Grid 1 */
.grid-1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.pic-1 {
  /* width: 37em; */
  /* height: 38em; */
  width: 640px;
  height: 600px;
}

/* ABOUT US */
.a {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  padding-top: 20px;
  color: #e21c21;
  text-align: center;
  font-family: "PT Sans";
  position: relative;
  left: 140px;
  top: 35px;
  /* border: 1px solid red; */
  width: 400px;
  height: 80px;
}

/*-About Us paragraph-*/
.b {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 70%;
  width: 57%;
  position: relative;
  top: 8em;
  left: 145px;
}

/* Read More */
.c {
  text-decoration: underline;
  grid-area: 1 / 2 / 2 / 3;
  color: black;
  width: 90px;
  height: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 28em;
  left: 16em;
}

/* Grid 2 */
.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -20px;
}

/*Image 2*/
.pic-2 {
  grid-area: 2 / 2 / 3 / 3;
  width: 600px;
  height: 600px;
  position: relative;
  right: 0em;
  top: 1px;
}

/* 'Bar Gansa' title */
.e {
  grid-area: 2 / 1 / 3 / 2;
  height: 6%;
  width: 87%;
  text-align: center;
  font-size: 40px;
  font-family: "PT Sans";
  letter-spacing: 9px;
  color: #c83727;
  position: relative;
  left: 50px;
  margin-bottom: 0;
}

/* 'Bar Gansa' paragraph */
.f {
  margin-top: 0;
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  height: 73%;
  width: 73%;
  position: relative;
  left: 4em;
  top: 5.5em;
}

/* Grid 3 */
.grid-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 0;
}

/* Image: Pic 3 */
.pic-3 {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
  bottom: 34px;
  left: 90px;
  width: 550px;
  height: 600px;
}

/* 'Brunch' title */
.h {
  grid-area: 3 / 2 / 4 / 3;
  height: 7.5%;
  width: 43%;
  position: relative;
  left: 3.4em;
  bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 9px;
  color: #c83727;
}

/* 'Brunch' paragraph*/
.i {
  grid-area: 3 / 2 / 4 / 3;
  font-size: 18px;
  text-align: center;
  height: 80%;
  width: 70%;
  position: relative;
  left: 65px;
  top: 60px;
}

/* Book now */
.j {
  grid-area: 3 / 2 / 4 / 3;
  color: #dc3727;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid red;
  height: 20px;
  width: 80px;
  position: relative;
  left: 11.5em;
  top: 25em;
  padding: 10px 30px;
  transition: background-color 0.5s;
}

.j:hover {
  background-color: #c83727;
  color: white;
}

/*Grid 4*/
.grid-4 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 0;
  position: relative;
  bottom: 2.48em;
}

/* Image: Pic 4 */
.pic-4 {
  grid-area: 4 / 2 / 5 / 3;
  position: relative;
  bottom: 1.92em;
  width: 550px;
}

/* 'Flamenco Sundays' title */
.l {
  grid-area: 4 / 1 / 5 / 2;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 9px;
  color: #e21c21;
  width: 57%;
  height: 110px;
  text-align: center;
  position: relative;
  left: 3.5em;
  bottom: 10px;
}

/* By the Escuela de Balle from 8pm every Sunday. */
.m {
  grid-area: 4 / 1 / 5 / 2;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  width: 65%;
  position: relative;
  left: 8em;
  top: 9em;
}

/*Grid 4 paragraph 2*/
.n {
  grid-area: 4 / 1 / 5 / 2;
  margin-left: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 125px;
  width: 60%;
  position: relative;
  top: 13em;
  left: 100px;
}

/* Book now */
.o {
  grid-area: 4 / 1 / 5 / 2;
  text-decoration: none;
  text-align: center;
  color: #dc3727;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
  height: 20px;
  width: 80px;
  padding: 10px 30px;
  position: relative;
  left: 15em;
  top: 26em;
  transition: background-color 0.5s;
}

.o:hover {
  background-color: #c83727;
  color: white;
}

.hr-2 {
  background-color: #c83727;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 3em;
}

/* Container for classes 'Contact Us' and the 'address' */
.contact-us {
  text-align: center;
}

/* Container for only 'Contact Us' */
.contact {
  color: #c83727;
  letter-spacing: 9px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 1.5em;
}

.address {
  position: relative;
  bottom: 70px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.opening-hours {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  width: 27%;
  position: relative;
  left: 300px;
  bottom: 100px;
}

.contact-details {
  text-decoration: underline;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: right;
  width: 20%;
  position: relative;
  left: 33em;
  bottom: 8em;
}

/* Google Map */
.map {
  width: 90%;
  height: 40em;
  position: relative;
  bottom: 11em;
  left: 4em;
}

/*-----Footer-----*/
.footer-form {
  background-color: white; /* As <form> is already set to a background colour, the footer form is set to white */
}

/* Container for the <input> field */
.email {
  border: 0;
  border-bottom: 1px solid black;
  width: 21.5%;
  height: 25px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 100;
  padding: 11px 0 10.9px 47.5px;
  position: relative;
  bottom: 130px;
  left: 68.5px;
  background-image: url(Images/Email-icon.png); /*Email icon*/
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px 20px;
}

/*'Email Address' inside <input> tag*/
::placeholder {
  font-family: "Montserrat";
  font-size: 16px;
}

.subscribe-now {
  position: relative;
  left: 34.7em;
  bottom: 7.75em;
  font-size: 16px;
  border: 1px solid black;
  padding: 9px 25px 7px 25px;
}

/* (c) 2018 Bar Gansa */
.register-mark {
  font-family: "Oswald:wght@200", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  bottom: 14.6em;
  left: 52.72em;
  width: 11%;
}

.facebook {
  padding-right: 10px;
}

/* Contains both the facebook and snapchat logos */
.facebook-snapchat {
  width: 39px;
  height: 41px;
}

/*Div container for facebook and snapchat icons*/
.social-media-container {
  width: 8%;
  position: relative;
  bottom: 13.4em;
  left: 47.55em;
}

/*-----ONLY MOZILLA FIREFOX STYLING-----*/
@-moz-document url-prefix() {
  /* Date dropbox for 'Make a Reservation' form */
  .calender {
    height: 46px;
  }

  /* 'Find a Table' dropbox for 'Make a Reservation' form */
  .find-a-table {
    padding: 14px 60px;
    top: 4.5px;
  }

  /* Image: Pic 3. */
  .g {
    margin-top: 35px;
  }

  /* Image: Pic 4. */
  .k {
    height: 35em;
    margin-top: 36.2px;
  }

  /* 'Brunch' */
  .h {
    margin-top: 70px;
    margin-left: 15px;
  }

  /* 'Brunch' paragraph */
  .i {
    margin-top: 55px;
    margin-left: 16px;
  }

  /* 'Book Now' */
  .j {
    margin-top: 35px;
    margin-left: 35px;
  }

  /* 'Flemenco Sundays' title */
  .l {
    margin-top: 1.3em;
  }

  .pic-4 {
    height: 700px;
  }

  /* 'Flemenco Sundays' paragraph */
  .m {
    margin-top: 2.5em;
  }
}
/*-----END OF MOZILLA FIREFOX STYLING-----*/

/*----------IPAD RESOLUTION(768 x 1024)---------------*/
@media only screen and (max-width: 768px) and (min-width: 376px) {
  .hide-ipad {
    display: none;
  }

  ul {
    /* grid-template-columns: 165px 165px 165px 168px 168px 205px; */
    grid-template-columns: 171px 173px 173px 176px 176px 176px;
    margin-right: 0.1em;
  }

  /* CONTAINER TO EXTEND BORDER OF TEXT IN MENU */
  .home {
    margin-left: -1.5em;
  }

  .reservation {
    padding: 1.3em 1.8em 1.33em 1.8em;
  }

  .menu {
    padding: 1.3em 3.7em 1.33em 3.7em;
    margin-left: -3.2em;
  }

  .wines {
    padding: 1.3em 3.7em 1.33em 3.7em;
    margin-left: -3.2em;
  }

  .about-us-top-menu {
    padding: 1.3em 2.7em 1.33em 2.8em;
    margin-left: -3.2em;
  }

  .contact-li {
    padding: 1.3em 2.9em 1.33em 2.9em;
    margin-left: -3.2em;
  }
  /* END CONTAINER TO EXTEND BORDER OF TEXT IN MENU */

  /*Top image*/
  .top-image {
    height: 32em;
    width: 66.2em;
  }

  /* Alters the white border within the main image */
  .photo-text {
    width: 54em;
    margin-left: -11em;
  }

  /* Disables the option of the white border and the text within it to increase in scale. */
  .photo-text:hover {
    transform: scale(1);
  }

  form {
    width: 112%;
    margin-left: -17%;
    margin-top: -5%;
  }

  /*-----COVID CONTAINER-----*/
  /* Covid 19 Instructions */
  .container-3 {
    width: 35.29em;
  }

  /* Contains the 'covid-notice' and 'safety' classes */
  .container-3-heading {
    width: 12em;
    margin-left: -4.5em;
  }

  /* Covid 19 Instructions numbered 1-10 */
  .container-3-p {
    margin-left: -9em;
    width: 50em;
  }

  /*Has the elements 'Covid-19 Notice' and 'Safety is out priority'*/
  .container-3-heading {
    left: 16em;
  }
  /*-----END COVID CONTAINER-----*/

  .pic-1 {
    width: 34.9em;
    height: 38em;
  }

  /* 'About Us' title */
  .about-us {
    margin-left: 2.7em;
    height: 2em;
    width: 7em;
  }

  /* Serving tapas with passion to the people of Camden... */
  .about-us-p {
    width: 20em;
    margin-top: -0.5em;
    margin-left: 6.7em;
  }

  /* Read More */
  .about-us-link {
    margin-left: 6.5em;
    margin-top: -1.7em;
  }

  /* Pic 2 */
  .pic-2 {
    width: 31.26em;
    height: 38em;
    margin-left: 10.9em;
    margin-top: -0.1em;
  }

  /*'Bar Gansa' title*/
  .e {
    left: 125px;
  }

  /* Paragraph underneath 'Bar Gansa' title */
  .f {
    width: 26em;
    left: 2.5em;
  }

  /* Pic 3 */
  .pic-3 {
    width: 34.85em;
    height: 38em;
    margin-left: -5.62em;
    margin-top: -0.05em;
  }

  /* 'Brunch' title */
  .h {
    margin-left: 2.5em;
    margin-top: 0.8em;
  }

  /* 'Brunch' paragraph: Join us for an authentic Spanish... */
  .i {
    width: 22em;
    margin-left: 8.4em;
  }

  /* Book Now */
  .j {
    margin-left: 7.5em;
  }

  /* Image: Pic 4 */
  .pic-4 {
    width: 31.26em;
    height: 38em;
    margin-left: 10.9em;
    margin-top: 0em;
  }

  /* 'Flemnco Sundays' title */
  .l {
    width: 7em;
    margin-left: -1.4em;
    margin-top: 0.8em;
  }

  /* 'Flemnco Sundays' paragraph: By the Escuela de Balle from 8pm every Sunday. */
  .m {
    width: 22em;
    margin-left: -3.7em;
  }

  /* 
  Flamenco Sundays package including: ... */
  .n {
    width: 22em;
    margin-left: -4.8em;
  }

  /*Book Now*/
  .o {
    margin-left: -2em; /* Why does 'margin-right' not work. Be it if the values are negative or positive */
    margin-top: 1em;
  }

  .hr-2 {
    width: 66.1em;
    margin-left: 0em;
  }

  /*-----'Contact Us' Container-----*/
  /* Contact Us */
  .contact {
    margin-left: 9em;
  }

  /* Address */
  .address {
    margin-left: 12.5em;
  }

  .opening-hours {
    width: 15em;
    margin-left: -4.5em;
  }

  .contact-details {
    width: 10em;
    margin-left: -3.5em;
    margin-top: -0.1em;
  }
  /*---END 'Contact Us' CONTAINER */

  /* Google Maps */
  .map {
    width: 59em;
    margin-left: -0.5em;
    left: 4.2em;
  }

  /*-----Footer-----*/
  footer {
    /* background-color: cyan; */
    width: 62.1em;
    height: 20em;
    margin-top: -8em;
  }

  .email {
    width: 18em;
    border-bottom-width: 1.5px;
    position: relative;
    top: 5.3em;
    left: -3.92em;
    background-size: 1.35em 1.35em;
    padding: 0.5em 0em 0.7em 3.6em;
    background-position: left center;
  }

  /*The 'Email Address' text inside the input tag*/
  ::placeholder {
    font-size: 16.5px;
    font-weight: 600;
  }

  .subscribe-now {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 4.9em;
    left: 25.3em;
    padding: 0.5em 1.1em 0.5em 1.1em;
  }

  /* This element is used to create a small gap between the facebook and snapchat icons. */
  .facebook {
    padding-right: 0.45em;
  }

  /*Set width and height for facebook & snapchat icons*/
  .facebook-snapchat {
    height: 2.7em;
    width: 2.7em;
  }

  .social-media-container {
    width: 7em;
    position: relative;
    top: -0.6em;
    left: 43.3em;
  }

  /* 2018 by Bar Gansa */
  .register-mark {
    font-size: 16px;
    width: 10em;
    position: relative;
    top: 0.05em;
    left: 41.5em;
    /* margin-top: -2em; */ /* When using 'margin-top' or 'margin-bottom' the social media icons as well as the register mark are moving
                            together. But when using 'margin-left', only the register mark moves. WHY??!!! */
  }

  @-moz-document url-prefix() {
    /* 'Brunch' title */
    .h {
      margin-top: 1.5em;
    }

    /*Picture 3. To the left of 'Brunch'*/
    .pic-3 {
      margin-top: 2.2em;
      margin-left: -5.57em;
    }

    /* Image: Pic 4 */
    .pic-4 {
      margin-top: 2.3em;
    }

    /* 'Flemnco Sundays' title */
    .l {
      margin-top: 1.3em;
    }
  }
}

/*----------IPHONE X RESOLUTION----------*/
@media only screen and (max-width: 375px) {
  main {
    position: relative;
    top: 1000px;
  }

  body.transition-1 {
    overflow: hidden;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  /*shadow behind the menu when the hamburger icon is clicked on.*/
  .overlay {
    position: absolute;
    top: -96.8em;
    left: 0;
    width: 82em;
    height: 1275em;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
  }

  li,
  li:hover {
    all: revert; /* reverts all the properties set in the inital 'li' tag to default. */
    margin-left: 5em;
  }

  ul {
    grid-template-columns: 1fr;
    background-color: #dc3727;
    height: 100%; /* Determins height of the background container */
    width: 80%; /* Determines width of the background container */
    padding-top: 21.8em; /* Groups the anchor tags together and adds padding to the top of the element. */
    margin-right: -2.6em;
    margin-top: -5em;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
    display: block;
  }

  /*Transition properties for the ul icon*/
  .menu-transition {
    transform: translateX(0%);
    opacity: 1;
  }

  li a {
    font-family: "Montserrat";
    color: white;
    font-size: 65px;
    display: block;
    width: 88%;
    /* outline: 2px solid white; */
  }

  .reservation,
  .menu,
  .about-us-top-menu,
  .wines,
  .contact-li {
    padding: 0 0 2.05em 0; /*Sets the padding of the elements within their borders.*/
    margin: 0.25em 0 0 0.75em; /* Moves the anchor tags top & right */
  }

  /* The 'US' in 'ABOUT US'. I added the word 'US' inside a <span> tag as when expanding the borders of the 'ABOUT US' element initially, the borders
  were becoming skewed. To solve the problem I had to wrap the 'US' inside a <span> element. */
  .us {
    margin-left: 0.3em;
  }

  /*Border around the hamburger icon.*/
  /*The reason for using the ::before element and not '.ham' is because this way I can apply z-index to the 'border' property. Otherwise it is not possible.*/
  .ham::before {
    content: "";
    border: 2px solid #e7412e;
    width: 170px;
    height: 170px;
    position: fixed;
    left: 70.5em;
    top: 1em;
    z-index: 11;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /*Transitions border colour to black when hamburger icon clicked*/
  .ham.transition-1::before {
    border-color: black;
  }

  /*Moves the border of the hamburger icon upwards when scrolling down*/
  .ham.scroll-transition::before {
    transform: translateY(-110%);
  }

  /*Middle line of the hamburger icon. This element also edits the property of the ::before and ::after elements.*/
  .ham1 {
    background-color: #e7412e;
    width: 90px;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 6em;
    left: 73em;
    transition: 0.1s, transform 0.3s;
    z-index: 11;
  }

  /*Bottom line in hamburger icon*/
  .ham1::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 90px;
    height: 8px;
    border-radius: inherit;
    background-color: inherit;
    transition: 0.2s; /*Transitions for moving the line upwards 45 degrees */
  }

  /*Top line in hamburger icon*/
  .ham1::after {
    content: "";
    position: absolute;
    top: -30px;
    width: 90px;
    height: 8px;
    border-radius: inherit;
    background-color: inherit;
    transition: 0.2s; /*Transitions from moving the line downwards 45 degrees*/
  }

  /*Transitions middle line in hamburger icon.*/
  .ham.transition-1 .ham1 {
    width: 0;
    background-color: black;
  }

  /*Moves the hamburger icon upwards when scrolling down*/
  .ham.scroll-transition .ham1 {
    transform: translateY(-2000%);
  }

  /*Transitions top line in hamburger icon.*/
  .ham.transition-1 .ham1::after {
    transform: rotate(-45deg);
    top: 0px;
  }

  /*Transitions bottom line in hamburger icon.*/
  .ham.transition-1 .ham1::before {
    transform: rotate(45deg);
    top: 1px;
  }

  /* The white strip behind the 'ham' image */
  .ham-background {
    position: fixed;
    top: 0em;
    background-color: #fff;
    /* background-color: orange; */
    height: 13em; /*9em*/
    width: 84.6em;
    z-index: 8;
    transition: 0.3s;
  }

  /*Adds translateY to the '.ham-background' class when scrolling down*/
  .ham-background.scroll-transition {
    transform: translateY(-100%);
  }

  /* Main image */
  .top-image {
    width: 1355px;
    height: 1300px;
    position: relative;
    top: 48px;
    margin-top: 5em;
  }

  /* Text and white-border within the 'top-image' element */
  .photo-text {
    border-width: 10px;
    width: 76em;
    height: 74em;
    position: relative;
    left: 60px;
    bottom: 75.3em;
  }

  /* Tapas made with love, served with passion. */
  .photo-p1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 20px;
    left: 10px;
  }

  /*Image inside the white border with the duck*/
  .bar-gansa-photo {
    width: 900px;
    height: 263px;
    margin-top: -20px;
    /* position: relative; */
    padding-right: 150px;
  }

  .book-now {
    font-size: 60px;
    padding: 30px 150px;
    position: relative;
    left: 10px;
    top: 10em;
  }

  /*-----From----*/
  form {
    all: revert;
    background-color: #c83727;
    width: 60em;
    height: 73em;
    position: relative;
    left: 12.5em;
    top: 5em;
  }

  /*Grid to seperate the form boxes*/
  .form-grid {
    display: grid;
    grid-template-columns: 10em;
    grid-template-rows: 0 100px 100px 100px;
  }

  /* Make a Reservation */
  .form-title {
    font-size: 25px;
    font-size: 70px;
    width: 8em;
    position: relative;
    top: 1.2em;
    left: 3.1em;
    margin-top: 5px;
  }

  /* Class that groups 'person', 'calender' and 'time' */
  .dropbox {
    transform: scale(4);
    position: relative;
    left: 25.6em;
    top: 15em;
    border: 1px solid rgb(179, 173, 173);
    border-bottom: 0.5px;
  }

  /* Dropbox for booking the number of people */
  .person {
    width: 12.89em;
    position: relative;
    top: 21.1em;
    border-bottom-left-radius: 0;
  }

  /* Dropbox for the calender */
  .calender {
    width: 11.28em;
    position: relative;
    top: 27.7em;
    padding-left: 0;
    padding-left: 0.8em;
  }

  /* Dropbox for booking the time */
  .time {
    width: 12.88em;
    position: relative;
    right: 80px;
    top: 34.2em;
  }

  .find-a-table {
    transform: scale(3.45);
    width: 5.1em;
    position: relative;
    left: 18.4em;
    top: 30em;
    border-top-right-radius: 0;
    border: 1px solid rgb(179, 173, 173);
  }
  /*---END OF FORM---*/

  /*-----'Covid 19 Notice'-----*/
  .container-3 {
    height: 55em;
    width: 45.2em;
  }

  .container-3-scale {
    transform: scale(2);
  }

  /* Groups '.covid-notice' and '.safety' classes */
  .container-3-heading {
    position: relative;
    top: 2em;
  }

  .safety {
    position: relative;
    top: 2em;
  }

  /* Paragraph for Covid 19 Notice */
  .container-3-p {
    text-align: left;
    font-size: 24px;
    width: 26em;
    margin-left: 0;
    position: relative;
    left: 14em;
    top: 23em;
  }

  .covid-hr {
    position: relative;
    top: 7em;
    width: 5em;
    height: 0.4em;
  }
  /*----- END 'Covid 19 Notice'-----*/

  /* 'ABOUT US' title */
  .a {
    font-size: 80px;
    width: 10em;
    margin-left: -0.5em;
    margin-top: 0.5em;
  }

  /* ABOUT US paragraph */
  .b {
    font-size: 60px;
    width: 20em;
    height: 150%;
    margin-left: -4.2em;
    margin-top: -2.5em;
  }

  /* 'Read More' link */
  .c {
    font-size: 60px;
    margin-left: -11.7em;
    margin-top: -4.5em;
    width: 250%;
    text-align: center;
    position: relative;
  }

  /* Image: Pic 2 */
  .pic-2 {
    position: relative;
    top: 68em;
    left: 11.1em;
    transform: scale(2.3);
  }

  /* 'BAR GANSA' title */
  .e {
    width: 8em;
    font-size: 80px;
    position: relative;
    top: 26em;
    left: 4.4em;
  }

  /* 'BAR GANSA' paragraph */
  .f {
    font-size: 60px;
    width: 20em;
    position: relative;
    top: 38em;
    margin-left: -3em;
  }

  /* Image: Pic 3 */
  .g {
    width: 84.9em;
    position: relative;
    top: 318em;
    /* margin-left: -5em; */
    left: 0em;
    height: 100em;
  }

  /* Image: Pic 1 */
  .pic-1 {
    transform: scale(2.08);
    position: relative;
    top: 337em;
    left: 22em;
    width: 40.8em;
  }

  /* 'BRUNCH' title */
  .h {
    font-size: 80px;
    position: relative;
    top: 43em;
    left: 3.9em;
  }

  /* Paragraph underneath 'BRUNCH'  */
  .i {
    font-size: 60px;
    width: 20em;
    position: relative;
    top: 60em;
    margin-left: -2.9em;
  }

  /* 'Book Now' link */
  .j {
    border-width: 3px;
    padding: 0.8em 2em 1.8em 2em;
    font-size: 70px;
    width: 5em;
    top: 68em; /* Why has this line worked without 'position: relative?' */
    margin-left: -9.3em;
  }

  /* 'FLEMENCO SUNDAYS' title */
  .l {
    font-size: 80px;
    text-align: center;
    width: 7em;
    height: 2.5em;
    position: relative;
    top: 64em;
    left: 5em;
  }

  /* 'FLAMENCO SUNDAYS' paragraph 1 */
  .m {
    font-size: 52px;
    width: 23em;
    position: relative;
    top: 104em;
    margin-left: -6em;
  }

  /* 'FLAMENCO SUNDAYS' paragraph 2 */
  .n {
    font-size: 52px;
    width: 23em;
    position: relative;
    top: 107em;
    margin-left: -0.5em; /* Why is 'left: ;' not working? */
  }

  /* 'Book Now' link */
  .o {
    border-width: 3px;
    padding: 0.8em 2em 1.8em 2em;
    font-size: 70px;
    width: 5em;
    position: relative;
    top: 86.5em;
    left: 5em;
  }

  /* Images: Pic 4 */
  .k {
    transform: scale(2.45);
    position: relative;
    top: 430em;
  }

  .hr-2 {
    position: relative;
    top: 375em;
    height: 10em;
    width: 85em;
  }

  /* 'Contact Us */
  .contact {
    font-size: 80px;
    width: 10em;
    position: relative;
    top: 76em;
    left: 3.2em;
  }

  .address {
    position: relative;
    top: 85.5em;
    left: 2.3em;
    font-size: 70px;
    width: 14em;
  }

  .opening-hours {
    font-size: 70px;
    width: 15em;
    text-align: center;
    position: relative;
    top: 84em;
    left: 2em;
  }

  .contact-details {
    font-size: 70px;
    position: relative;
    top: 84.5em;
    margin-left: -28.5em; /* When using 'left: ;' the element only moves a certain distance. After that distance it moves right. Why is that? */
    width: 10em;
    text-align: center;
  }

  /* Google Maps */
  .map {
    position: relative;
    top: 370em;
    margin-left: -3.5em;
    width: 84em;
    height: 40em;
  }

  /*-----FOOTER-----*/

  footer {
    background-color: #ffffff;
    margin-top: 450em;
    width: 81.7em;
    height: 75em;
  }

  .subscribe-now {
    position: relative;
    top: 6.4em;
    margin-left: -32.35em;
    font-size: 63px;
    padding: 0.6em 5em;
    border-width: 4px;
  }

  .email {
    position: relative;
    top: 2.6em;
    left: 21em;
    font-size: 55px;
    width: 15.9em;
    height: 2em;
    padding-left: 2.7em;
    padding-bottom: 0.2em;
    border-bottom-width: 3px;
    background-size: 75px 75px;
  }

  ::placeholder {
    font-size: 63px;
  }

  /*(c) 2018 Bar Gansa*/
  .register-mark {
    font-family: "Oswald:wght@200", sans-serif;
    position: relative;
    top: 12.05em;
    margin-left: -46.2em;
    font-size: 57px;
    width: 9.8em;
  }

  .facebook {
    padding-right: 2.6em;
  }

  .social-media-container {
    position: relative;
    top: 42.1em;
    margin-left: -17.4em;
    width: 23em;
    height: 9em;
    padding-bottom: 10em;
  }

  .facebook-snapchat {
    width: 150px;
    height: 150px;
  }

  /*To target elements specifically on Firfox*/
  @-moz-document url-prefix() {
    /* 'BRUNCH' title */
    .h {
      margin-left: 0em;
    }

    /* Paragraph underneath 'BRUNCH'  */
    .i {
      margin-top: 1.3em;
    }

    .hr-2 {
      width: 84.8em;
    }

    /*Google Map*/
    .map {
      width: 84em;
    }
  }
  /*END Firefox prefix*/
}
