@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); /* Used in '.wines-p' */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap"); /* Used in 'p', 'h1', 'span', h3, '.wines' */
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap"); /* Use for the 'x' for the menu in mobile mode */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); /* Used in the '.email' class */

.hide-desktop {
  display: none;
}

body {
  background-color: #c83727;
  margin: 0;
}

main {
  background-color: white;
  width: 85%;
  height: 210em; /* The height can not be changed via %, why? */
  position: relative;
  left: 100px;
  top: 120px;
}

p {
  font-family: "Oswald:wght@200", sans-serif;
  color: #414141;
  font-size: 23px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

h1 {
  color: #dc3727;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-top: 50px;
  border: 1px solid white;
  text-align: center;
}

span {
  color: #414141;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

h3 {
  color: #dc3727;
  background-color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid black;
  width: 20%;
  text-align: center;
  position: relative;
  left: 13.6em;
  padding: 17px 21px;
  z-index: 1;
}

hr {
  width: 45%;
  position: relative;
  bottom: 61px;
  right: 6px;
}

/*-----Top Menu-----*/
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none; /* Eliminates the bullet points inside ul */
  display: grid;
  grid-template-columns: 214px 213px 213px 213px 213px 214px; /* Automatically creates 1 row with 7 columns */
  position: relative;
  right: 40px;
  margin-bottom: 0;
  margin-top: 30px;
  /* background-color: white; */
  position: fixed;
  z-index: 2;
}

li {
  background-color: white;
  position: relative;
  left: 40px;
  border-right: 1px solid black;
  text-align: center;
  height: 40px;
  padding: 20px 50px 0px 50px;
  transition: background-color 0.5s;
}

li:hover {
  background-color: #c83727;
}

/* CONTAINER TO EXTEND BORDER OF TEXT IN MENU */
li a {
  padding: 20px 85px 23px 82px;
  position: relative;
  right: 51px;
  bottom: 1px;
}

.home {
  position: relative;
  right: 50px;
}

.reservation {
  padding: 20px 51px 23px 55px;
  position: relative;
  right: 50px;
}

.about-us {
  padding: 20px 65px 23px 66px;
}

.us {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-left: 4px;
  transition: inherit;
}

.contact {
  padding: 20px 71px 23px 70px;
}
/*END CONTAINER TO EXTEND BORDER OF TEXT IN MENU */

/* Changes the colour of the text in the top menu to white when mouse is hovered over it */
li a:hover {
  color: white;
}

/*-----HEADER-----*/

/* Contains the '.wines' and '.wines-p' classes */
.title {
  position: relative;
  top: 150px;
  left: 100px;
  background-color: #ffffff;
  width: 85%;
  padding: 50px 0;
  margin-top: -30px;
}

/* 'Wines' heading */
.wines {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  bottom: 40px;
}

/* Especially selected for you...Enjoy! */
.wines-p {
  font-size: 30px;
  color: #414141;
  font-family: "Lobster", "cursive";
  position: relative;
  bottom: 40px;
  width: 100%;
}
/*---END HEADER---*/

/*-----CONTAINER 1: 'White Wines'-----*/
.container-1 {
  position: relative;
  bottom: 50px;
}

.container-1-grid {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
}
/*-----END CONTAINER 1'-----*/

/*-----CONTAINER 2: 'Red Wines'-----*/
.container-2 {
  position: relative;
  bottom: 170px;
}

.container-2-grid {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 0px;
  padding-bottom: 20px;
}
/*-----END CONTAINER 2-----*/

/*-----CONTAINER 3: 'Rose Wines'-----*/
.container-3 {
  position: relative;
  bottom: 280px;
}

/* Rose Wines */
.container-3-h3 {
  margin-top: 130px;
}

.container-3-grid {
  display: grid;
  grid-template-rows: 150px 150px;
}
/*-----END CONTAINER 3-----*/

/*-----CONTAINER 4: 'Cava, Prosecco and Champagnes'-----*/
.container-4 {
  position: relative;
  bottom: 250px;
}

/* Cava, Prosecco and Champagnes */
.container-4-h3 {
  width: 30%;
  position: relative;
  left: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-4-hr {
  position: relative;
  bottom: 85px;
}

.container-4-grid {
  display: grid;
  grid-template-rows: 110px 110px 110px 110px 110px 110px 110px;
}
/*-----END CONTAINER 4-----*/

/*-----Footer-----*/
footer {
  position: relative;
  top: 130px;
  background-color: #ffffff;
  padding-bottom: 200px;
  width: 29.6%;
  padding-right: 900px;
}

/* Container for the <input> field */
.email {
  border: 0;
  border-bottom: 1.2px solid black;
  width: 73%;
  height: 25px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 100;
  padding: 11px 0 10px 45px;
  position: relative;
  top: -130px; /*144px, -101px*/
  left: 271px; /*265px, 250px*/
  background-image: url(Images/Email-icon.png); /*Email icon*/
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px 20px;
}

/*Styling for Firefox browser*/
@supports (-moz-appearance: none) {
  .email {
    position: relative;
    bottom: 146px;
  }
}

/*'Email Address' inside <input> tag*/
/* Styles the placeholder in ONLY Chrome */
::placeholder {
  font-size: 16px; /* Why does this element effect in both browsers. WHY?!!!! */
  position: relative; /* This only effects the placeholder in Chrome */
  top: 0.08em;
  font-family: "Montserrat";
}

/* styles the placeholder in both Firefox and Chrome */
:placeholder-shown {
  padding-left: 3em;
  padding-bottom: 0.66em;
}

.subscribe-now {
  position: relative;
  left: 37.8em; /* 34em */
  bottom: 5.6em; /*bottom: 5.8em*/
  font-size: 16px;
  border: 1px solid black;
  padding: 8px 25px;
}

/* (c) 2018 Bar Gansa */
.register-mark {
  position: relative;
  bottom: 0.3em;
  left: 52.65em;
  font-size: 14px;
  font-weight: 400;
  width: 36%;
}

.facebook,
.snapchat {
  width: 39px;
  height: 41px;
}

.facebook {
  padding-right: 10px;
}

/* Contains the '.subscribe-now' and '.email' classes */
.footer-form {
  position: relative;
  top: 200px;
  right: 50px;
}

/* Used to reposition of the snapchat and facebook icons */
.social-media-container {
  position: relative;
  left: 47.55em;
  bottom: 0.9em;
}

* {
  /* Allow for smooth scrolling for all the elements that have an relative link */
  scroll-behavior: smooth;
}

@media only screen and (max-width: 375px) {
  main {
    width: 55em;
    margin-left: -2em;
    margin-top: -2.5em;
  }

  p {
    font-size: 65px;
    width: 14em;
    font-weight: 600;
    line-height: 1.5em;
  }

  span {
    font-size: 60px;
    display: inline-block;
    width: 14em;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: initial;
  }

  /*shadow behind the menu when the hamburger icon is clicked on.*/
  .overlay {
    position: absolute;
    top: -96.8em;
    left: 0;
    width: 63.15em;
    height: 1121em;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
  }

  /*Stops scrolling when menu is clicked*/
  body.transition-1 {
    overflow: hidden;
  }

  li,
  li:hover {
    all: revert;
  }

  ul {
    grid-template-columns: 1fr;
    grid-template-rows: 11em 11em 0em 11em 12em;
    background-color: #dc3727;
    height: 100%;
    width: 80%;
    padding-top: 18em;
    margin-top: -4.5em; /* Adjusts the position of the whole red container. */
    margin-right: -2.5em; /* I tired using 'margin-left' but the element for some reason was not responding. Why?!!! */
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
  }

  /*Transitions translateX and opacity for the menu(ul)*/
  .menu-transition {
    transform: translateX(0%);
    opacity: 1;
  }

  li a {
    font-family: "Montserrat";
    color: white;
    font-size: 50px;
    text-decoration: none;
    display: block;
    margin-left: 3em; /*Positions the anchor text slightly towards the right.*/
    /* outline: 1.5px solid white; */
  }

  /*NOTE: When using 'padding' for the 'li a' element, only 'HOME' and 'MENU' were responding. But when calling their classes, they all respond to 
  'padding'. WHY?!!*/

  .us {
    padding-left: 0.2em;
    width: 0em;
  }

  .reservation,
  .li-menu,
  .about-us,
  .home {
    padding: 0em 0em 2em 0em;
  }

  /*Had to create seperate styling for 'contact' as originally the margin was inconsistent with the other elements, so had to set the 
    margin for this to make it consistent.*/
  .contact {
    padding: 0em 0em 2em 0em;
    margin-top: -0.3em;
  }

  /*Border around the hamburger icon.*/
  /*The reason for using the ::before element and not '.ham' is because this way I can apply z-index to the 'border' property. Otherwise it is not possible.*/
  .ham::before {
    content: "";
    border: 2px solid #e7412e;
    width: 130px;
    height: 130px;
    position: fixed;
    left: 52.3em;
    top: 0.7em;
    z-index: 11;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /*Transitions border colour to black when hamburger icon clicked*/
  .ham.transition-1::before {
    border-color: black;
  }

  /*Moves the border of the hamburger icon upwards when scrolling down*/
  .ham.scroll-transition::before {
    transform: translateY(-110%);
  }

  /*Middle line of the hamburger icon. This element also edits the property of the ::before and ::after elements.*/
  .ham1 {
    background-color: #e7412e;
    width: 70px;
    height: 6px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    left: 54.3em;
    top: 4.6em;
    transition: 0.1s, transform 0.3s;
    z-index: 11;
  }

  /*Bottom line in hamburger icon*/
  .ham1::before {
    content: "";
    position: absolute;
    top: 23px;
    width: 70px;
    height: 6px;
    border-radius: inherit;
    background-color: inherit;
    transition: 0.2s; /*Transitions for moving the line upwards 45 degrees */
  }

  /*Top line in hamburger icon*/
  .ham1::after {
    content: "";
    position: absolute;
    top: -23px;
    width: 70px;
    height: 6px;
    border-radius: inherit;
    background-color: inherit;
    transition: 0.2s; /*Transitions from moving the line downwards 45 degrees*/
  }

  /*Transitions middle line in hamburger icon.*/
  .ham.transition-1 .ham1 {
    width: 0;
    background-color: black;
  }

  /*Moves the hamburger icon upwards when scrolling down*/
  .ham.scroll-transition .ham1 {
    transform: translateY(-2000%);
  }

  /*Transitions top line in hamburger icon.*/
  .ham.transition-1 .ham1::after {
    transform: rotate(-45deg);
    top: 0px;
  }

  /*Transitions bottom line in hamburger icon.*/
  .ham.transition-1 .ham1::before {
    transform: rotate(45deg);
    top: 1px;
  }

  /* The white strip behind the 'ham' image */
  .ham-background {
    background-color: #ffffff;
    z-index: 8;
    position: fixed;
    height: 10em;
    width: 63.5em;
    margin-top: -4.5em;
    transition: transform 0.3s;
  }

  /*Adds translateY to the '.ham-background' class when scrolling down*/
  .ham-background.scroll-transition {
    transform: translateY(-100%);
  }

  /*-----HEADER-----*/
  /* Containes the '.wines' and '.wines-p' classes */
  .title {
    margin-top: 4.5em;
    width: 55em;
    margin-left: -2em;
  }

  /* Especially selected for you...Enjoy! */
  .wines-p {
    font-size: 60px;
    padding-bottom: 4em; /* Pushes the 'White Wines' further downwards */
  }
  /*---END HEADER---*/

  /*-----CONTAINER 1: 'White Wines'-----*/
  .container-1 {
    background-color: #ffffff;
    width: 55em;
    height: 270em;
  }

  .container-1-grid {
    display: grid;
    grid-template-rows: 45em 50em 55em 50em 30em;
    margin-top: 11em;
    margin-left: -1.5em;
  }

  .white-wines {
    font-size: 90px;
    width: 4em;
    margin: 0em 0em -2em -12.25em;
    border-width: 3px;
    padding: 0.6em 1.5em;
  }

  .wines {
    font-size: 70px;
    display: block;
    color: #dc3727;
    margin-left: 2px;
    margin-top: 5px;
    font-family: "Oswald", sans-serif;
  }

  .container-1-hr {
    width: 55em;
    height: 2px;
    background-color: black;
    margin-left: 0.3em;
    margin-top: 3.5em;
  }

  /* Castilla La Mancha. Verdejo grape. */
  .a {
    margin-left: 0.3em;
    margin-top: 1.2em;
  }

  /* Floral notes with melon and citrus fruit */
  .span-a {
    width: 11em;
    font-size: 65px;
  }

  /* Viña Sol, Parrellada - Barnacha Blanca, Penedès, Torres */
  .b {
    width: 10em;
    margin-left: 2.2em;
  }

  /* Grenacha grape */
  .span-b {
    width: 10em;
  }

  /* Don Jacobo Rioja Blanco, Viura-Sauvignon Blanc, Bodegas Corral */
  .c {
    margin-left: 0.2em;
  }

  /* Rioja region. Viura grape. Bottled young to preserve maximum aromas and crispness. */
  .span-c {
    width: 10em;
  }

  /* Viña Esmeralda, Moscatel - Gewurztraminer, Catalunya Torres */
  .d {
    width: 12.5em;
    margin-left: 0.85em;
  }

  /* Lolo Albariño Rías Baixas */
  .e {
    margin-left: 0.2em;
  }

  /* Galicia. Albariño grape*/
  .span-e {
    width: 10.2em;
  }
  /*-----END CONTAINER 1-----*/

  /*-----CONTAINER 2: 'Red Wines'-----*/
  .container-2 {
    margin-top: 0em;
    padding-top: 10em;
    background-color: #ffffff;
    height: 320em;
  }

  .container-2-grid {
    display: grid;
    padding-top: 10em;
    grid-template-rows: 49em 44em 51em 50em 63em 32em;
  }

  .container-2-h3 {
    width: 5.5em;
    font-size: 110px;
    padding: 0.2em 0em;
    margin-left: -12.35em;
    border-width: 3px;
  }

  .container-2-hr {
    width: 54.75em;
    margin-top: -9em;
    margin-left: 0.38em;
    border-width: 2px;
    background-color: black;
  }

  /* Aragon region. Tempranillo/merlot grapes. Notes of fruits of the forest mixed with sweet spice. */
  .span-f {
    width: 10em;
  }

  /* Tempranillo/cabernet sauvignon grapes. Ripe and dark fruit flavours. */
  .span-g {
    width: 10em;
    margin-left: -0.1em;
  }

  /* Castilla La Mancha region. Tempranillo/syrah/shiraz grapes. Plenty of ripe cherry and plum fruit flavours. */
  .span-h {
    width: 10em;
    margin-left: -0.2em;
  }

  /* Marqués De Morano Rioja Joven */
  .i {
    width: 10em;
    margin-left: 1.8em;
  }

  /* Rioja region. Tempranillo grape. Young Rioja made using tempranillo grapes. Ripe fresh fruit flavours. */
  .span-i {
    width: 11em;
  }

  /* Sangre de Toro, Garnacha Tinta-Cariñena, Catalunya, Torres */
  .j {
    margin-left: -0.25em;
  }

  /* Catalonia. Grenache/carignan grapes. Aged for 6 months in American and French oak casks. Rich and smooth, still Spanish. */
  .span-j {
    width: 10.5em;
  }

  /* Altos Ibéricos, Tempranillo Rioja Crianza, Torres */
  .k {
    width: 13em;
    margin-left: 0.3em;
  }

  /* Rioja region. 1005 tempranillo. Aged for 12 months. Notes of ripened black fruits and aromas including cocoa and nutmeg. */
  .span-k {
    width: 11em;
  }
  /*END CONTAINER 2*/

  /*-----CONTAINER 3: 'Rose Wines'-----*/
  .container-3 {
    background-color: #ffffff;
    width: 55em;
    margin-top: 6.8em;
    padding-top: 5em;
    height: 130em;
  }

  /* Rose Wines */
  .container-3-h3 {
    font-size: 90px;
    margin-left: -11.9em;
    margin-bottom: 1em;
    width: 4em;
    border-width: 3px;
    padding: 0.5em 1.2em;
  }

  .container-3-hr {
    width: 54.75em;
    border-width: 2px;
    margin-top: -12em;
    margin-left: 0.38em;
  }

  .container-3-grid {
    display: grid;
    grid-template-rows: 50em 40em;
    padding-top: 14em;
  }

  /* Ayrum Tempranillo Rosado, Valdepeñas */
  .l {
    width: 10em;
    margin-left: 1.8em;
  }

  /* La Mancha region. Grenache/tempranillo grapes. Soft and fruity, hints of strawberry jam and citrus fruits. */
  .span-l {
    width: 11.5em;
    margin-left: -0.5em;
  }

  /* Casa Albali Garnacha Rosé, Valdepeñas  */
  .m {
    width: 11em;
    margin-left: 1.35em;
  }

  /* Grenache grape. Generously flavoured. Ripe raspberry and red plum aromas. */
  .span-m {
    width: 11em;
  }
  /*---END CONTAINER 3---*/

  /*-----CONTAINER 4: 'Cava, Prosecco and Champagnes'-----*/
  .container-4 {
    background-color: #ffffff;
    padding-top: 5em;
    margin-top: -1.9em;
    height: 163em;
  }

  /* Cava, Prosecco and Champagnes */
  .container-4-h3 {
    font-size: 90px;
    margin-left: -2.75em;
    width: 7em;
    border-width: 3px;
  }

  .container-4-hr {
    width: 54.75em;
    border-width: 2px;
    margin-left: 0.38em;
    margin-top: -8.5em;
  }

  .container-4-grid {
    display: grid;
    grid-template-rows: 22em 20em 15em 20em 20em 20em 15em;
  }

  .q,
  .r,
  .s {
    width: 11em;
    margin-left: 1.3em;
  }

  /* Rondel Brut, Cava */
  .n {
    margin-left: -0.2em;
    padding-top: 2em;
  }

  .p,
  .o,
  .t {
    margin-left: -0.3em;
  }
  /*-----END CONTAINER 4-----*/

  /*-----FOOTER-----*/
  footer {
    position: relative;
    top: 695em;
    height: 60em;
  }

  .email {
    font-size: 50px;
    width: 13.5em;
    height: 2em;
    border-bottom-width: 3px;
    position: relative;
    left: 21.2em;
    top: 1.7em;
    background-size: 1.15em 1.15em;
    background-position: left center;
    padding: 0em 0 0em 2.3em;
  }

  /*'Email Address' inside <input> tag*/
  ::placeholder {
    font-size: 48px;
  }

  .subscribe-now {
    font-size: 49px;
    position: relative;
    top: 5.8em;
    margin-left: -34.5em;
    padding: 0.55em 4.9em;
    border-width: 4px;
  }

  /* Used to Style the snapchat and facebook icons */
  .social-media-container {
    position: relative;
    top: 42em;
    left: 24.7em;
    width: 18em;
    padding-bottom: 3em;
  }

  /* (c) 2018 Bar Gansa */
  .register-mark {
    font-size: 43px;
    width: 10em;
    position: relative;
    left: 6.6em;
    top: 16.1em;
  }

  .facebook {
    position: relative;
    right: 1.4em;
  }

  .facebook-snapchat {
    width: 115px;
    height: 115px;
  }
}

/*----------IPAD RESOLUTION(768 x 1024)---------------*/
@media only screen and (max-width: 768px) and (min-width: 376px) {
  main {
    width: 80.05em;
    height: 304em;
    margin-left: -6.3em;
  }

  /* Styles the 'Wines' and 'Especially selected for you...Enjoy!' elements */
  .title {
    width: 80.05em;
    margin-left: -6.3em;
    margin-top: -1em;
  }

  /* After increasing the font-size of h3, the 'White Wines' container moved downwards. Hence this class moves it back up */
  .container-1 {
    margin-top: -1.3em;
  }

  ul {
    grid-template-columns: 213px 213px 213px 217px 214px 215px;
    margin-top: 1em;
  }

  li {
    font-size: 20.5px;
    padding-bottom: 0.8em;
  }

  li a {
    position: relative;
    top: 0.3em;
  }

  /*Cancels out the transition for the background to turn reddish when hovered over. Need to learn how to cancel a transition*/
  li:hover {
    background-color: #fff;
  }

  /*Cancels out the transition for the text colour to turn white when hovered over. Need to learn how to cancel a transition*/
  li a:hover {
    color: black;
  }

  /* CONTAINER TO EXTEND BORDER OF TEXT IN MENU */
  .home,
  .li-menu,
  .li-wines {
    padding: 1.25em 3.8em 1.4em 3.65em;
  }

  .reservation {
    padding: 1.25em 1.9em 1.4em 1.8em;
  }

  .about-us {
    padding: 1.25em 2.8em 1.4em 2.7em;
    position: relative;
    right: 2.45em;
  }

  .us {
    all: revert;
    margin-left: 0.28em;
  }

  .contact {
    padding: 1.25em 2.9em 1.4em 2.9em;
    position: relative;
    right: 2.45em;
  }
  /* END CONTAINER TO EXTEND BORDER OF TEXT IN MENU */

  h3 {
    font-size: 50px;
    margin-left: -3.8em;
    /* Using 'margin-top' in this tag moves the whole container down, and not just the 'h3' title. WHY?!!! */
  }

  hr {
    margin-top: -2.5em;
    width: 40em;
  }

  p {
    font-size: 30px;
  }

  span {
    font-size: 25px;
    display: inline-block;
    width: 28em;
    line-height: 38px;
    padding-top: 15px;
  }

  /* Wines */
  .wines {
    font-size: 70px;
  }

  /* Especially selected for you...Enjoy! */
  .wines-p {
    font-size: 45px;
  }

  /*-----CONTAINER 1: 'White Wines'-----*/
  .container-1-grid {
    grid-template-rows: 220px 220px 220px 220px 220px;
  }

  /* Ayrum Verdejo Blanco, Valdepeñas */
  .a {
    padding-top: 1.5em;
  }
  /* END CONTAINER 1 */

  /*-----CONTAINER 2: 'Red Wines'-----*/
  /* Red Wines */
  .container-2-h3 {
    margin-top: 3.5em;
  }

  .container-2-grid {
    grid-template-rows: 285px 220px 240px 260px 250px;
  }

  /* Talavera Tempranillo - Merlot, Tinto Cariñena */
  .f {
    padding-top: 1.5em;
  }
  /* END CONTAINER 2 */

  /*-----CONTAINER 3: 'Rose Wines'-----*/
  /* Rose Wines */
  .container-3-h3 {
    margin-top: 3.8em;
  }

  .container-3-grid {
    grid-template-rows: 270px 200px;
  }

  .l {
    padding-top: 1.5em;
  }
  /* END CONTAINER 3 */

  /*-----CONTAINER 4 (Cava, Prosecco and Champagnes)-----*/
  /*'Cava, Prosecco and Champagnes' title */
  .container-4-h3 {
    margin-left: 0.3em;
    width: 10em;
    line-height: 50px;
  }

  .container-4-hr {
    width: 45em;
    margin-top: -1.5em;
  }

  .container-4-grid {
    grid-template-rows: 170px 140px 140px 170px 170px 155px 170px;
  }

  /* Rondel Brut, Cava */
  .n {
    padding-top: 1.5em;
  }
  /* END CONTAINER 4 */

  /*-----FOOTER-----*/
  footer {
    width: 23.75em;
  }

  .email {
    font-size: 25px;
    width: 14.1em;
    border-bottom-width: 1.5px;
    padding: 0.5em 0 0.7em 2.9em;
    background-size: 1.1em 1.1em;
    position: relative;
    top: -4.8em;
    left: 6.6em;
  }

  /* 'Email Address'in the <input> box */
  ::placeholder {
    font-size: 21.5px;
    font-weight: 600;
  }

  .subscribe-now {
    font-size: 21px;
    border-width: 1.5px;
    padding: 0.7em 1.2em 0.6em 1.2em;
    font-weight: bold;
    position: relative;
    left: 28.7em;
    bottom: 3.7em;
  }

  .facebook-snapchat {
    width: 3.2em;
    height: 3.2em;
  }

  .facebook {
    padding-right: 0.65em;
  }

  /* Used to Style the snapchat and facebook icons */
  .social-media-container {
    position: relative;
    bottom: 1.9em;
    left: 52.2em;
  }

  /* © 2018 by Bar Gansa Bar Gansa Facebook */
  .register-mark {
    font-size: 19px;
    width: 10em;
    position: relative;
    left: 42em;
    bottom: 1.05em;
  }
}
